<!DOCTYPE html>
<html>
	<head>
		{% include site-head.html %}
	</head>
	<body class="{{ site.doks.color_theme }}">
		<div class="hero-subheader{% if page.grid_navigation %} hero-subheader--before-out{% endif %}">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="align-container" data-mh>
							<div class="align-middle">
								{% if page.title %}
									<h1 class="hero-subheader__title">{{ page.title }}</h1>
								{% endif %}
								{% if page.description %}
									<h3 class="hero-subheader__desc">{{ page.description }}</h3>
								{% endif %}
							</div><!-- /.align-inner -->
						</div><!-- /.align-container -->
					</div><!-- /.col -->
					
				<!-- First row of authors -->
				<div class="row justify-content-center author-section">
					{% for author in page.authors %}
					<div class="col-md-{{ author.column }} author_width">
						<div class="align-container" data-mh>
						<div class="align-middle">
							<div class="hero-subheader__author">
							<p class="hero-subheader__author-title">
								<a href="{{ author.title_url }}" class="hover-underline">
								{{ author.title }} 
								</a> <span class="indicator">{{ author.indicator }}</span>
							</p><!-- /.hero-subheader__author-title -->
							</div><!-- /.hero-subheader__author -->
						</div><!-- /.align-inner -->
						</div><!-- /.align-container -->
					</div><!-- /.col -->
					{% endfor %}
				</div><!-- /.row -->
				
				<!-- Second row of authors -->
				<div class="row justify-content-center author-section">
					{% for author in page.senior_authors %}
					<div class="col-md-{{ author.column }} author_width">
						<div class="align-container" data-mh>
						<div class="align-middle">
							{% if forloop.last %}
							<div>
							{% else %}
							<div class="hero-subheader__author">
							{% endif %}
							<p class="hero-subheader__author-title">
								<a href="{{ author.title_url }}" class="hover-underline">
								{{ author.title }} 
								</a> <span class="indicator">{{ author.indicator }}</span>
							</p><!-- /.hero-subheader__author-title -->
							</div><!-- /.hero-subheader__author -->
						</div><!-- /.align-inner -->
						</div><!-- /.align-container -->
					</div><!-- /.col -->
					{% endfor %}
				</div><!-- /.row -->

				<div class="row justify-content-center">
					<div class="col-md-2">
						<p>Computer Science <span class="indicator">1</span></p>
					</div>
					<div class="col-md-1">
						<p>ICME <span class="indicator">2</span></p>
					</div>
					<div class="col-md-1.5">
						<p>Psychology <span class="indicator">3</span></p>
					</div>
				</div>

				<div class="row justify-content-center">
					<div class="hero-subheader__author">
						<p class="university-title">Stanford University</p></div>
				</div>

				</div><!-- /.row -->
				<div class="row">
					<div class="col-md-12">
						<div class="align-container" data-mh>
							<div class="align-middle">
					{% for button in page.buttons %}
						{% if button.external_url == true %}
						<a href="{{ button.url }}" class="btn btn--dark btn--rounded btn--w-icon">
							{% if button.icon %}<i class="icon icon--{{ button.icon }}"></i>{% endif %}
							{{ button.content }}
						</a>
						{% else %}
						<a href="{% if jekyll.environment == 'production' %}{{ site.doks.baseurl }}{% endif %}{{ button.url }}" class="btn btn--dark btn--rounded btn--w-icon">
							{% if button.icon %}<i class="icon icon--{{ button.icon }}"></i>{% endif %}
							{{ button.content }}
						</a>
						{% endif %}
					{% endfor %}
					</div></div></div>
				</div>
			</div><!-- /.container -->
		</div><!-- /.hero-subheader -->
		{% if page.grid_navigation %}
			<div class="section section--darker-theme-color-bg">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="nav-grid nav-grid--out">
								<div class="row">
									{% for item in page.grid_navigation %}
										<div class="col-sm-6 col-lg-4">
											<a href="{% if jekyll.environment == 'production' %}{{ site.doks.baseurl }}{% endif %}{{ item.url }}" class="nav-grid__item">
												<div class="nav-grid__content" data-mh>
													<h2 class="nav-grid__title">{{ item.title }}</h2>
													<p>{{ item.excerpt }}</p>
												</div><!-- /.nav-grid__content -->
												<p class="nav-grid__btn">
													{{ item.cta }}
													<i class="icon icon--arrow-down"></i>
												</p>
											</a><!-- /.nav-grid__item -->
										</div><!-- /.col -->
									{% endfor %}
								</div><!-- /.row -->
							</div><!-- /.nav-grid -->
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container -->

			</div><!-- /.section -->
		{% endif %}

		{% include data-model-alignment.html %}

		<div class="'section main-content">
			<!-- You can keep adding things here -->
			<div class="container">
				<div class="row w-full overflow-hidden">
					<div class="col-md-11">
						<div class="content">
							{{ content }}
						</div><!-- /.content -->

						<div class="row">
							<div class="row justify-content-center full-model-list">
							<div class="col-md-11">
								<div class="row">
									<div class="col-md-4">
										<ul class="list-group" id="model_list">
											<li class="list-group-item" id="gpt-4">gpt-4</li>
											<li class="list-group-item" id="gpt-3.5-turbo">gpt-3.5-turbo</li>
											<li class="list-group-item" id="text-babbage-001">text-babbage-001</li>
										</ul>
									</div>
									<div class="col-md-4">
										<ul class="list-group">
											<li class="list-group-item" id="text-curie-001">text-curie-001</li>
											<li class="list-group-item" id="text-davinci-002">text-davinci-002</li>
											<li class="list-group-item" id="text-davinci-003">text-davinci-003</li>
										</ul>
									</div>
									<div class="col-md-4">
										<ul class="list-group">
											<li class="list-group-item" id="claude-v1">claude-v1</li>
											<li class="list-group-item" id="llama-2-7b-chat">llama-2-7b-chat</li>
											<li class="list-group-item" id="llama-2-13b-chat">llama-2-13b-chat</li>
										</ul>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<ul class="list-group">
											<li class="list-group-item" id="llama-2-70b-chat">llama-2-70b-chat</li>
											<li class="list-group-item" id="vicuna-13b-v1.5-16k">vicuna-13b-v1.5-16k</li>
											<li class="list-group-item" id="vicuna-13b-v1.5">vicuna-13b-v1.5</li>
										</ul>
									</div>
									<div class="col-md-4">
										<ul class="list-group">
											<li class="list-group-item" id="Qwen-7B-Chat">Qwen-7B-Chat</li>
											<li class="list-group-item" id="WizardLM_70B_V1dot0">WizardLM_70B_V1dot0</li>
											<li class="list-group-item" id="mpt-30b-instruct">mpt-30b-instruct</li>
										</ul>
									</div>
									<div class="col-md-4">
										<ul class="list-group">
											<li class="list-group-item" id="Mistral_7B_Instruct_v0dot1">Mistral_7B_Instruct_v0dot1</li>
											<li class="list-group-item" id="falcon-7b-instruct">falcon-7b-instruct</li>
											<li class="list-group-item" id="Platypus2-70B-instruct">Platypus2-70B-instruct</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

							<div class="row vega-vis">
								<div class="row justify-content-center">
									<div class="'col-md-11">
										<div class="swatch">
											<div title="#1f77b4" style="background: rgb(31, 119, 180);"></div>&nbsp; <b>Human</b>
											&nbsp;&nbsp;<div title="#ff7f0e" style="background: rgb(255, 127, 14);"></div>&nbsp;<b>Model</b>
										</div>
									</div>
								</div>
								
								<div class="row">
									<div class="container">
										<div class="col-md-6">
											<div id="visCausal"></div>
										</div>
										<div class="col-md-6">
											<div id="visMoral"></div>
										</div>
									</div>
								</div>
							</div>

							<div class="row justify-content-center">
								<div class="col-md-11">
									<div class="content">
									<p>We provide a summary of each model's alignment and misalignment with human implicit tendencies below. 
                                        Note that we are only listing the alignment/misalignment if the AMCE score shows a significant tendency/preference in one attribute of a factor (95% confidence interval does not cross 0).
                                        The AMCE score we plot in the chart and report is the upper or lower bound on the 95% CI. We report this to signal <strong>maximal probable misalignment</strong>.
                                        Note this is different from a statistical significance test between the human and model tendencies. Use our code <a href="https://github.com/cicl-stanford/moca/tree/main"></a><u>repo</u> to conduct a statistical significance test.
										</p>
										<p>If the human and model have implicit tendency in the <strong>same</strong> direction, we report the AMCE score in <span class="less-highlight">blue</span> if the maximal probable difference is less than 10%. Otherwise, we report the score in <span class="more-highlight">red</span>.
										If the human and model have the <strong>opposite</strong> implicit tendency, we report the AMCE score in <span class="more-highlight">red</span></p>
									<!-- <p>We will use Moral Judgment Task as an example. Humans have an implicit tendency to be <b>self-beneficial</b>. The AMCE score for this tendency is 14%.
										This means when <b>self-beneficial</b> is an attribute present in the story, humans are more likely to say an act of harm to be morally permissible compared to when `other-beneficial`
										is present in the story. Generally, this means that when judging what act is morally permissible, people want to prefer acts that will benefit themselves.</p>
										<p>This, however, is not true with <b>gpt-4</b> and <b>gpt-3.5-turbo</b>. <b>gpt-4</b> does not have a clear tendency between the two attributes. We can see this 
											because the orange line reaches 21.3% on <b>Other-beneficial</b> and 13.8% on <b>Self-beneficial</b>. This means the confidence interval crossed 0.
											However, for <b>gpt-3.5-turbo</b>, we see the orange line reaches 26.2% on <b>Other-beneficial</b>. This means <b>gpt-3.5-turbo</b> has an implicit tendency that is quite different from the 
											average humans.
										</p> -->
									<p><strong>Implicit Causal Judgment Tendencies</strong></p>
									<p id="model-statement"></p>
									<p><strong>Implicit Moral Permissibility Tendencies</strong></p>
									<p id="model-statement-moral"></p>
									</div>
								</div>
							</div>
							
						</div>				
					
					<div class="row">
						<div class="col-md-11">
							<div class="content">
								<h2 id="factor-definition">Factor Definitions</h2>

								<h3>Factors Related to Causal Judgments</h3>
								<table>
									<thead>
									  <tr>
										<th>Causal Factors</th>
										<th>Definitions</th>
									  </tr>
									</thead>
									<tbody>
									  <tr class="shade-row">
										<td><strong>Causal Structure</strong></td>
										<td>Wells &amp; Gavanski, 1989; Mandel, 2003; Sloman &amp; Lagnado, 2015</td>
									  </tr>
									  <tr>
										<td>Conjunctive</td>
										<td>All events must happen in order for the outcome to occur. Each event is a necessary cause for the outcome.</td>
									  </tr>
									  <tr>
										<td>Disjunctive</td>
										<td>Any event will cause the outcome to occur. Each event is a sufficient cause for the outcome.</td>
									  </tr>
									  <tr class="shade-row">
										<td><strong>Agent Awareness</strong></td>
										<td>Samland et al., 2016; Kominsky &amp; Phillips, 2019</td>
									  </tr>
									  <tr>
										<td>Aware</td>
										<td>Agent is aware that their action will break the norm/rule or they know their action is “abnormal”.</td>
									  </tr>
									  <tr>
										<td>Unaware</td>
										<td>Agent is unaware or ignorant that their action will break the norm/rule, or they don’t know their action is “abnormal”.</td>
									  </tr>
									  <tr class="shade-row">
										<td><strong>Norm Type</strong></td>
										<td>Icard et al., 2017; N’gbala &amp; Branscombe, 1995; Kominsky et al., 2015; Sytsma, 2021</td>
									  </tr>
									  <tr>
										<td>Prescriptive Norm</td>
										<td>A norm about what is supposed to happen.</td>
									  </tr>
									  <tr>
										<td>Statistical Norm</td>
										<td>A norm about what tends to happen.</td>
									  </tr>
									  <tr class="shade-row">
										<td><strong>Event Normality</strong></td>
										<td>Knobe &amp; Fraser, 2008; Hitchcock &amp; Knobe, 2009; Alicke et al., 2011; O’Neill et al., 2021; Morris et al., 2019; Samland et al., 2016</td>
									  </tr>
									  <tr>
										<td>Normal Event</td>
										<td>The event that led to the outcome is considered “normal”.</td>
									  </tr>
									  <tr>
										<td>Abnormal Event</td>
										<td>The event that led to the outcome is considered “abnormal/unexpected”.</td>
									  </tr>
									  <tr class="shade-row">
										<td><strong>Action or Omission</strong></td>
										<td>Ritov &amp; Baron, 1992; Baron &amp; Ritov, 2004; Henne et al., 2017, 2021; Clarke et al., 2015; DeScioli et al., 2011; Gerstenberg &amp; Stephan, 2021</td>
									  </tr>
									  <tr>
										<td>Action as Cause</td>
										<td>Agent performed an action that led to the outcome.</td>
									  </tr>
									  <tr>
										<td>Omission as Cause</td>
										<td>Agent did not perform the action, and the omission led to the outcome.</td>
									  </tr>
									  <tr class="shade-row">
										<td><strong>Time</strong></td>
										<td>Reuter et al., 2014; Henne et al., 2021</td>
									  </tr>
									  <tr>
										<td>Early</td>
										<td>The event happened early.</td>
									  </tr>
									  <tr>
										<td>Late</td>
										<td>The event happened late.</td>
									  </tr>
									  <tr>
										<td>Same Time</td>
										<td>Multiple events happened at the same time.</td>
									  </tr>
									</tbody>
								  </table>

								  <h3>Factors Related to Moral Permissibility</h3>
								  
								  <table>
									<thead>
									  <tr>
										<th>Factors</th>
										<th>Definitions</th>
									  </tr>
									</thead>
									<tbody>
									  <tr class="shade-row">
										<td><strong>Beneficence</strong></td>
										<td>Bloomfield, 2007; Christensen et al., 2014; Wiegmann et al., 2012</td>
									  </tr>
									  <tr>
										<td>Self-Beneficial</td>
										<td>The agent themself benefits from their action.</td>
									  </tr>
									  <tr>
										<td>Other-Beneficial</td>
										<td>Only other people benefit from the agent’s action.</td>
									  </tr>
									  <tr class="shade-row">
										<td><strong>Personal Force</strong></td>
										<td>Christensen et al., 2014; Wiegmann et al., 2012</td>
									  </tr>
									  <tr>
										<td>Personal</td>
										<td>Agent is directly involved in the production of the harm.</td>
									  </tr>
									  <tr>
										<td>Impersonal</td>
										<td>Agent is only indirectly involved in the process that results in the harm (e.g., using a device).</td>
									  </tr>
									  <tr class="shade-row">
										<td><strong>Counterfactual Evitability</strong></td>
										<td>Moore, 2008; Huebner et al., 2011; Christensen et al., 2014; Wiegmann et al., 2012</td>
									  </tr>
									  <tr>
										<td>Avoidable</td>
										<td>The harm would not have occurred if the agent hadn’t acted.</td>
									  </tr>
									  <tr>
										<td>Inevitable</td>
										<td>The harm would have occurred even if the agent hadn’t acted.</td>
									  </tr>
									  <tr class="shade-row">
										<td><strong>Causal Role</strong></td>
										<td>Hauser, 2006; Christensen et al., 2014; Wiegmann et al., 2012</td>
									  </tr>
									  <tr>
										<td>Means</td>
										<td>The harm is instrumental/necessary to produce the outcome.</td>
									  </tr>
									  <tr>
										<td>Side Effect</td>
										<td>The harm happens as a side-effect of the agent’s action, unnecessary to produce the outcome.</td>
									  </tr>
									  <tr class="shade-row">
										<td><strong>Locus of Intervention</strong></td>
										<td>Waldmann &amp; Dieterich, 2007</td>
									  </tr>
									  <tr>
										<td>Instrument of Harm</td>
										<td>The intervention is directed at the instrument of harm (e.g., the runaway train, the hijacked airplane).</td>
									  </tr>
									  <tr>
										<td>Patient of Harm</td>
										<td>The intervention is directed at the patient of harm (e.g., the workers on the train track).</td>
									  </tr>
									</tbody>
								  </table>	
								  <br>
								  <p>We also provide a full explanation of each factor in the Appendix of the paper.</p>
							  
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-11">
							<div class="content">
								<h2 id="Discussion">Discussion</h2>
								<p>We summarize our high-level findings here:</p>
								<ol>
									<li><b>Non-monotonicity</b>: The alignment to human biases does not necessarily increase with model
										size. We speculate that alignment is an area where the inverse scaling law applies (McKenzie
										et al., 2023).</li>
									<li><b>Heterogeneity</b>: Interestingly, but perhaps not surprisingly, models that used the same training
										method and fine-tuned for human preferences do not have the same implicit tendencies. We
										highlight the difference between Claude-v1 and GPT3.5-turbo.</li>
									<li><b>Self-Tendency vs. Other-Preference</b>: Humans are ego-centric and often make self-beneficial
										decisions. However, when asked to judge the behaviors of others, we prefer others to be altruistic.
										For example, in scenarios involving self-driving cars, Kallioinen et al. (2019) reported a stark
										contrast between what we tend to do versus what we want other people to do. This difference
										will make models trained on human preferences through RLHF different from how humans
										would tend to act in a given situation. As it is more prevalent to use LLMs as proxy humans
										for data labeling or experiments (Dillion et al., 2023; Gilardi et al., 2023), it is increasingly
										important to understand and measure these implicit differences.</li>
								</ol>
								<h2 id="team">Acknowledgments</h2>
								<p>Research reported in this paper was supported in part by a Hoffman-Yee grant and a HAI seed
									grant. We would like to thank Paul Henne for his assistance in curating high-impact causal reasoning
									literature. We thank Lucy Li for writing the ethical consideration section for this paper. We would
									also like to thank Jon Gauthier, Nicholas Tomlin, Matthew Jorke, Xuechen Li, Rose E
									Wang, and Dora Demszky for general discussions. An earlier version of the dataset was submitted to
									BigBench. We would like to thank the reviewers Marcelo Menegali, Adrià Garriga-Alonso, and Denis
									Emelin for their comments and feedback. </p>
									
									<p>We thank May Khoo for data annotations and facilitation
									of labeling. We thank <a href="https://www.simonh.io/"><u>Simon Lee Huang</u></a> for his work to run experiments with Automated Prompt
									Engineer and Social Simulacra.</p>
							</div>
						</div>
					</div>
					
					
					</div><!-- /.col -->

					<div class="col-md-1">
						<div class="sections-list-wrapper">
							<div class="sections-list js-sections js-affix js-scrollspy hidden-xs hidden-sm"></div><!-- /.sections-list -->
						</div>
					</div>
					<!-- /.col -->
					
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div>

		{% include site-footer.html %}

		<script>
			$(document).ready(function() {
				// Attach a click event listener to each LI element
				$('.list-group-item').on('click', function() {
					console.log($(this).text(), this.id); // Log the text content of the clicked LI element
					// Remove the highlight class from all other list items
					$('.list-group-item').removeClass('list-group-item-highlight');
					// Add the highlight class to the clicked list item
					$(this).addClass('list-group-item-highlight');
					var clickedItemId = this.id;
					// Call the handleItemClick function with the ID as an argument
					var vlSpec = chooseVegaData(clickedItemId);

					// Embed the visualization in the container with id `vis`
					vegaEmbed('#visCausal', vlSpec);

					var vlSpec2 = chooseVegaMoralData(clickedItemId);
					vegaEmbed('#visMoral', vlSpec2);

					// update text
					$('#model-statement').html(model_alignment_statement_causal[this.id]);

					$('#model-statement-moral').html(model_alignment_statement_moral[this.id]);
				});

				$('#model_list > li:first').addClass('list-group-item-highlight');
			});

			// Assign the specification to a local variable vlSpec.
			var vlSpec = vega_spyder_demo_data;
			var vlSpec2 = vega_spyder_moral_data;

			// Embed the visualization in the container with id `vis`
			vegaEmbed('#visCausal', vlSpec);
			vegaEmbed('#visMoral', vlSpec2);

			$('#model-statement').html(model_alignment_statement_causal["gpt-4"]);

					$('#model-statement-moral').html(model_alignment_statement_moral["gpt-4"]);
		</script>

	</body>
</html>
