<!DOCTYPE html>
<html>
	<head>
		{% include site-head.html %}
	</head>
	<body class="{{ site.doks.color_theme }}">
		<div class="hero-subheader{% if page.grid_navigation %} hero-subheader--before-out{% endif %}">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="align-container" data-mh>
							<div class="align-middle">
								{% if page.title %}
									<h1 class="hero-subheader__title">{{ page.title }}</h1>
								{% endif %}
								{% if page.description %}
									<h3 class="hero-subheader__desc">{{ page.description }}</h3>
								{% endif %}
							</div><!-- /.align-inner -->
						</div><!-- /.align-container -->
					</div><!-- /.col -->
					
				<!-- First row of authors -->
				<div class="row justify-content-center author-section">
					{% for author in page.authors %}
					<div class="col-md-{{ author.column }} author_width">
						<div class="align-container" data-mh>
						<div class="align-middle">
							<div class="hero-subheader__author">
							<p class="hero-subheader__author-title">
								<a href="{{ author.title_url }}" class="hover-underline">
								{{ author.title }} 
								</a> <span class="indicator">{{ author.indicator }}</span>
							</p><!-- /.hero-subheader__author-title -->
							</div><!-- /.hero-subheader__author -->
						</div><!-- /.align-inner -->
						</div><!-- /.align-container -->
					</div><!-- /.col -->
					{% endfor %}
				</div><!-- /.row -->
				
				<!-- Second row of authors -->
				<div class="row justify-content-center author-section">
					{% for author in page.senior_authors %}
					<div class="col-md-{{ author.column }} author_width">
						<div class="align-container" data-mh>
						<div class="align-middle">
							{% if forloop.last %}
							<div>
							{% else %}
							<div class="hero-subheader__author">
							{% endif %}
							<p class="hero-subheader__author-title">
								<a href="{{ author.title_url }}" class="hover-underline">
								{{ author.title }} 
								</a> <span class="indicator">{{ author.indicator }}</span>
							</p><!-- /.hero-subheader__author-title -->
							</div><!-- /.hero-subheader__author -->
						</div><!-- /.align-inner -->
						</div><!-- /.align-container -->
					</div><!-- /.col -->
					{% endfor %}
				</div><!-- /.row -->

				<div class="row justify-content-center">
					<div class="col-md-2">
						<p>Computer Science <span class="indicator">1</span></p>
					</div>
					<div class="col-md-1">
						<p>ICME <span class="indicator">2</span></p>
					</div>
					<div class="col-md-1.5">
						<p>Psychology <span class="indicator">3</span></p>
					</div>
				</div>

				<div class="row justify-content-center">
					<div class="hero-subheader__author">
						<p class="university-title">Stanford University</p></div>
				</div>

				</div><!-- /.row -->
				<div class="row">
					<div class="col-md-12">
						<div class="align-container" data-mh>
							<div class="align-middle">
					{% for button in page.buttons %}
						{% if button.external_url == true %}
						<a href="{{ button.url }}" class="btn btn--dark btn--rounded btn--w-icon">
							{% if button.icon %}<i class="icon icon--{{ button.icon }}"></i>{% endif %}
							{{ button.content }}
						</a>
						{% else %}
						<a href="{% if jekyll.environment == 'production' %}{{ site.doks.baseurl }}{% endif %}{{ button.url }}" class="btn btn--dark btn--rounded btn--w-icon">
							{% if button.icon %}<i class="icon icon--{{ button.icon }}"></i>{% endif %}
							{{ button.content }}
						</a>
						{% endif %}
					{% endfor %}
					</div></div></div>
				</div>
			</div><!-- /.container -->
		</div><!-- /.hero-subheader -->
		{% if page.grid_navigation %}
			<div class="section section--darker-theme-color-bg">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div class="nav-grid nav-grid--out">
								<div class="row">
									{% for item in page.grid_navigation %}
										<div class="col-sm-6 col-lg-4">
											<a href="{% if jekyll.environment == 'production' %}{{ site.doks.baseurl }}{% endif %}{{ item.url }}" class="nav-grid__item">
												<div class="nav-grid__content" data-mh>
													<h2 class="nav-grid__title">{{ item.title }}</h2>
													<p>{{ item.excerpt }}</p>
												</div><!-- /.nav-grid__content -->
												<p class="nav-grid__btn">
													{{ item.cta }}
													<i class="icon icon--arrow-down"></i>
												</p>
											</a><!-- /.nav-grid__item -->
										</div><!-- /.col -->
									{% endfor %}
								</div><!-- /.row -->
							</div><!-- /.nav-grid -->
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container -->

			</div><!-- /.section -->
		{% endif %}

		{% include data-model-alignment.html %}

		<div class="'section main-content">
			<!-- You can keep adding things here -->
			<div class="container">
				<div class="row w-full overflow-hidden">
					<div class="col-md-11">
						<div class="content">
							{{ content }}
						</div><!-- /.content -->

						<div class="row">
							<div class="row justify-content-center full-model-list">
							<div class="col-md-11">
								<div class="row">
									<div class="col-md-4">
										<ul class="list-group" id="model_list">
											<li class="list-group-item" id="gpt-4">gpt-4</li>
											<li class="list-group-item" id="gpt-3.5-turbo">gpt-3.5-turbo</li>
											<li class="list-group-item" id="text-babbage-001">text-babbage-001</li>
										</ul>
									</div>
									<div class="col-md-4">
										<ul class="list-group">
											<li class="list-group-item" id="text-curie-001">text-curie-001</li>
											<li class="list-group-item" id="text-davinci-002">text-davinci-002</li>
											<li class="list-group-item" id="text-davinci-003">text-davinci-003</li>
										</ul>
									</div>
									<div class="col-md-4">
										<ul class="list-group">
											<li class="list-group-item" id="claude-v1">claude-v1</li>
											<li class="list-group-item" id="llama-2-7b-chat">llama-2-7b-chat</li>
											<li class="list-group-item" id="llama-2-13b-chat">llama-2-13b-chat</li>
										</ul>
									</div>
								</div>
								<div class="row">
									<div class="col-md-4">
										<ul class="list-group">
											<li class="list-group-item" id="llama-2-70b-chat">llama-2-70b-chat</li>
											<li class="list-group-item" id="vicuna-13b-v1.5-16k">vicuna-13b-v1.5-16k</li>
											<li class="list-group-item" id="vicuna-13b-v1.5">vicuna-13b-v1.5</li>
										</ul>
									</div>
									<div class="col-md-4">
										<ul class="list-group">
											<li class="list-group-item" id="Qwen-7B-Chat">Qwen-7B-Chat</li>
											<li class="list-group-item" id="WizardLM_70B_V1dot0">WizardLM_70B_V1dot0</li>
											<li class="list-group-item" id="mpt-30b-instruct">mpt-30b-instruct</li>
										</ul>
									</div>
									<div class="col-md-4">
										<ul class="list-group">
											<li class="list-group-item" id="Mistral_7B_Instruct_v0dot1">Mistral_7B_Instruct_v0dot1</li>
											<li class="list-group-item" id="falcon-7b-instruct">falcon-7b-instruct</li>
											<li class="list-group-item" id="Platypus2-70B-instruct">Platypus2-70B-instruct</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

							<div class="row vega-vis">
								<div class="row justify-content-center">
									<div class="'col-md-11">
										<div class="swatch">
											<div title="#1f77b4" style="background: rgb(31, 119, 180);"></div>&nbsp; <b>Human</b>
											&nbsp;&nbsp;<div title="#ff7f0e" style="background: rgb(255, 127, 14);"></div>&nbsp;<b>Model</b>
										</div>
									</div>
								</div>
								
								<div class="row">
									<div class="container">
										<div class="col-md-6">
											<div id="visCausal"></div>
										</div>
										<div class="col-md-6">
											<div id="visMoral"></div>
										</div>
									</div>
								</div>
							</div>

							<div class="row justify-content-center">
								<div class="col-md-11">
									<div class="content">
									<p>We will use Moral Judgment Task as an example. Humans have an implicit tendency to be <b>self-beneficial</b>. The AMCE score for this tendency is 14%.
										This means when <b>self-beneficial</b> is an attribute present in the story, humans are more likely to say an act of harm to be morally permissible compared to when `other-beneficial`
										is present in the story. Generally, this means that when judging what act is morally permissible, people want to prefer acts that will benefit themselves.</p>
										<p>This, however, is not true with <b>gpt-4</b> and <b>gpt-3.5-turbo</b>. <b>gpt-4</b> does not have a clear tendency between the two attributes. We can see this 
											because the orange line reaches 21.3% on <b>Other-beneficial</b> and 13.8% on <b>Self-beneficial</b>. This means the confidence interval crossed 0.
											However, for <b>gpt-3.5-turbo</b>, we see the orange line reaches 26.2% on <b>Other-beneficial</b>. This means <b>gpt-3.5-turbo</b> has an implicit tendency that is quite different from the 
											average humans.
										</p>
									</div>
								</div>
							</div>
							
						</div>						
					
					<div class="row">
						<div class="'col-md-11">
							<div class="content">
								<h2 id="Discussion">Discussion</h2>
								<p>We summarize our high-level findings here:</p>
								<ol>
									<li><b>Non-monotonicity</b>: The alignment to human biases does not necessarily increase with model
										size. We speculate that alignment is an area where the inverse scaling law applies (McKenzie
										et al., 2023).</li>
									<li><b>Heterogeneity</b>: Interestingly, but perhaps not surprisingly, models that used the same training
										method and fine-tuned for human preferences do not have the same implicit tendencies. We
										highlight the difference between Claude-v1 and GPT3.5-turbo.</li>
									<li><b>Self-Tendency vs. Other-Preference</b>: Humans are ego-centric and often make self-beneficial
										decisions. However, when asked to judge the behaviors of others, we prefer others to be altruistic.
										For example, in scenarios involving self-driving cars, Kallioinen et al. (2019) reported a stark
										contrast between what we tend to do versus what we want other people to do. This difference
										will make models trained on human preferences through RLHF different from how humans
										would tend to act in a given situation. As it is more prevalent to use LLMs as proxy humans
										for data labeling or experiments (Dillion et al., 2023; Gilardi et al., 2023), it is increasingly
										important to understand and measure these implicit differences.</li>
								</ol>
								<h2 id="team">Acknowledgments</h2>
								<p>Research reported in this paper was supported in part by a Hoffman-Yee grant and a HAI seed
									grant. We would like to thank Paul Henne for his assistance in curating high-impact causal reasoning
									literature. We thank Lucy Li for writing the ethical consideration section for this paper. We would
									also like to thank Jon Gauthier, Nicholas Tomlin, Matthew Jorke, Xuechen Li, Rose E
									Wang, and Dora Demszky for general discussions. An earlier version of the dataset was submitted to
									BigBench. We would like to thank the reviewers Marcelo Menegali, Adrià Garriga-Alonso, and Denis
									Emelin for their comments and feedback. We thank May Khoo for data annotations and facilitation
									of labeling. We thank Simon Lee Huang for his work to run experiments with Automated Prompt
									Engineer and Social Simulacra.</p>
							</div>
						</div>
					</div>
					
					
					</div><!-- /.col -->

					<div class="col-md-1">
						<div class="sections-list-wrapper">
							<div class="sections-list js-sections js-affix js-scrollspy hidden-xs hidden-sm"></div><!-- /.sections-list -->
						</div>
					</div>
					<!-- /.col -->
					
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div>

		{% include site-footer.html %}

		<script>
			$(document).ready(function() {
				// Attach a click event listener to each LI element
				$('.list-group-item').on('click', function() {
					console.log($(this).text(), this.id); // Log the text content of the clicked LI element
					// Remove the highlight class from all other list items
					$('.list-group-item').removeClass('list-group-item-highlight');
					// Add the highlight class to the clicked list item
					$(this).addClass('list-group-item-highlight');
					var clickedItemId = this.id;
					// Call the handleItemClick function with the ID as an argument
					var vlSpec = chooseVegaData(clickedItemId);

					// Embed the visualization in the container with id `vis`
					vegaEmbed('#visCausal', vlSpec);

					var vlSpec2 = chooseVegaMoralData(clickedItemId);
					vegaEmbed('#visMoral', vlSpec2);
				});

				$('#model_list > li:first').addClass('list-group-item-highlight');
			});

			// Assign the specification to a local variable vlSpec.
			var vlSpec = vega_spyder_demo_data;
			var vlSpec2 = vega_spyder_moral_data;

			// Embed the visualization in the container with id `vis`
			vegaEmbed('#visCausal', vlSpec);
			vegaEmbed('#visMoral', vlSpec2);
		</script>

	</body>
</html>
