.hover-underline {  
    &:hover {
        border-bottom: 0.0625em solid;
    }
  }

.indicator {
    font-size: 0.75em; // Smaller font size
    vertical-align: super; // Align to the top (superscript)
    // font-weight: bold; // Make it bold
}

.author_width {
    padding-left: 0;
}

.row.justify-content-center {
    display: flex;
    justify-content: center;
  }

.university-title {
    font-size: 1.1em;
}

.main-content {
    padding: 6.25rem 0 5rem 0;
}

.list-group-item-highlight {
    // background-color: #f0f0f0; /* or any color you prefer */
    font-weight: bold;
    background-color: #0085f230;
    border-left: 2px solid #0069c2;
}

.list-group-item {
    cursor: pointer;
}

.list-group-item:hover {
    font-weight: bold;
}

.has-border {
    background-color: #6eb7ff;
}

.list-group-item, .list-group-item-highlight {
    transition: background-color 0.5s ease, color 0.5s ease;
    /* Other styles */
}

.vega-vis {
    margin-top: 20px;
}

.swatch {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.swatch div[title] {
    border: 1px solid #ddd;
}
.swatch div {
    display: inline-block;
    width: 28px;
    height: 28px;
    border: 1px solid white;
}

.full-model-list {
    margin-top: 15px;
}